*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
main {
    width: 50%;
    margin: auto;
}
.grid-1{
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    grid-template-areas: "texto foto";
    margin-top: 10px;
    padding: 2%;
    margin: auto;
    border-bottom: 2px gray groove;
    width: 80%;
    
}
.grid-1-a {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 20px;
   
}
.grid-1-b{
    justify-self: center;
    
}

 header  section div:nth-child(2){
    height: 600px;
     
}
.img-1 {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}
.grid-2{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4 , minmax(100px, 150px));
    grid-auto-rows: fr;
    gap: 10px;
    
    
}
.grid-2-a{
    grid-area: 1/ 1 / 3/ 3 ;
}
.grid-2-img1{
    
}
.grid-2-img2{

}
.grid-2-img3{

}
.grid-2-img4{
    
}


.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-template-rows: repeat(auto, 1fr);
    justify-content: center;
}
.title {
    font-size: 4rem;
    color: #333;  
}
.title-2 {
    font-size: 3rem;
    color: #333; 
    margin-top: 64px;
    margin-bottom: 16px;
    text-align: center; 

}

.button {
    width: 30%;
    background-color: orangered;
    color: white;
    margin-top: 16px;
    padding: 8px;
    border-radius: 20px;
    border-style: none;
}

.img-2 {
    width: 100%;
    height: 100%;
  
    object-fit: cover;
}

.img-3{
    width: 100%;
    height: 100%;
    width: 200px;
    object-fit: contain;
}

@media  screen and (max-width:400px) {
    .img-1 {
        display: none;
    }
    main{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .grid-1{
        display: grid;
        padding: 10%;
        grid-template-columns: 3fr;
        justify-content:space-between;
        background-image: url("./fotos/hero.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 100%;
        
    }

}

@media screen and (max-width: 992px) {
    .grid-2{
        grid-template-columns: repeat(auto-fit , minmax(100px, 150px));
    }
    
}
